<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.classless.min.css" />
  <link href="/css/style.css" rel="stylesheet" />
  <title>Post</title><nav>
    <!-- other navigation links -->
    <a href="/auth/signup">Signup</a>
</nav>
</head>

<body>
  <main>
    <div class="authOptions">
      <h1>
        <%= post.title %>
      </h1>
      <a role="button" href="/posts">Home</a>
    </div>
    <p>
      <%= post.description %>
    </p>
    <p>Created by <%= post.creator.uname %>
    </p>
    <p>Subgroup: <%= post.subgroup %>
    </p>
    <!-- Add logic for displaying comments and a comment form if logged in -->
  </main>
</body>

</html>