<!-- signup.ejs -->

<h1>Signup</h1>
<form action="/auth/signup" method="post">
    <input type="text" name="uname" placeholder="Username" required>
    <input type="password" name="password" placeholder="Password" required>
    <button type="submit">Signup</button>
</form>