<!DOCTYPE html>
<html lang="en">
  <head>
z
  </head>
  <body>
    <main>
      <div class="authOptions">
        <h1>Sub Posts</h1>
        <a role="button" href="/posts">Home</a>
      </div>
      <div>
        <p>Implement this page yourself. It is from sub.ejs</p>
      </div>
    </main>
  </body>
</html>
