.authOptions {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}


.individualPost {
  border: 1px solid #ccc; /* Light grey border */
  padding: 10px;
  margin-bottom: 15px;
}
.comment {
  border: 1px solid #ddd;
  padding: 10px;
  margin-top: 10px;
}
